@import 'r.functions';

// Galery componet

.galery {
  height: 100vh;

  h1 {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 75px;
    font-size: 3.6em;
  }

  &-presentation {
    display: grid;
    grid-row-gap: 15px;

    .presentation-1 {
      width: 100%;
      display: grid;
      grid-template-columns: 60% 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }

    img {
      object-fit: cover;
      width: 100%;
    }

    .image-one {
      img {
        height: 100%;
      }
    }

    .image-double {
      display: grid;
      grid-row-gap: 15px;
      height: 100%;
    }
  }
}
