@import 'r.functions';

// Galery componet

.galery {
  height: 100vh;

  h1 {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 75px;
    font-size: 36px;
  }

    &-presentation {
      display: grid;
      grid-row-gap: 20px;
  
      .presentation-1 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
      }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .image-cube-litle {
      display: grid;
      grid-row-gap: 20px;
      height: 100%;
    }
  }
}
