@import 'config';

@for $x from 1 through 3 {
  #nav a.show:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

@include mediaSsm {
  .cover {
    .main {
      padding-top: 14% !important;
      .main-title {
        margin-right: 19px !important;
      }
    }
  }
}

@include mediaSm {
  .cover {
    &-bg-box {
      align-items: initial !important;
      margin-top: 37%;
      .cover-bg {
        height: 320px !important;
        width: 320px !important;
      }
    }
    .main {
      justify-content: center !important;
      align-items: center;
      padding-top: 11% !important;
      .main-title {
        margin-right: 0 !important;
        .nav-btn {
          margin: -28px 0 0 20px !important;
        }
        h1 {
          font-size: 2em !important;
          margin-left: 81px !important;
          opacity: 0.3 !important;
        }
        .label {
          font-size: 2.5em !important;
        }
      }
    }
  }
}

@include mediaMd {
  .menu {
    flex-flow: column;
    position: fixed !important;
    align-items: center;
    .nav {
      visibility: hidden;
      position: relative;
      top: 65vh;
      transform: translate3d(0, -130px, 0);
      transition: transform 1s;
      &.show {
        transform: translate3d(0, -27px, 0);
        visibility: visible;
      }
      a.show {
        background: rgba($color: $secondary-color, $alpha: 0.1);
        opacity: 0.4;
        margin: 4px;
        height: 100px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: visibility 0.1s;
        &:nth-child(2) {
          margin-top: 56px;
        }
      }
    }
    .social {
      display: none !important;
    }
  }
  .cover {
    &-bg {
      height: 380px !important;
      width: 380px !important;
      opacity: 0.5 !important;
    }
    .main {
      .nav-btn {
        visibility: visible !important;
        &:hover {
          opacity: 1;
          transition: opacity 0.07s;
        }
      }
    }
  }
}

@include mediaLg {
  .container {
    width: 100vw !important;
  }
}
