@import 'r.config';

@for $x from 1 through 3 {
  #nav a.show:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

@include mediaSsm {
  .cover {
    .main {
      padding-top: 18% !important;
      .main-title {
        margin-right: 19px !important;
      }
    }
  }
}

@include mediaSm {
  .cover {
    &-bg-box {
      align-items: initial !important;
      margin-top: 37%;
      .cover-bg {
        height: 320px !important;
        width: 320px !important;
      }
    }
    .main {
      justify-content: center !important;
      align-items: center;
      padding-top: 17%;
      .main-title {
        margin-right: 0 !important;
        h1 {
          font-size: 2em !important;
          margin-left: 81px !important;
          opacity: 0.3 !important;
        }
        .label {
          font-size: 2.5em !important;
        }
      }
    }
  }
}

@include mediaMd {
  // Home
  .menu {
    flex-flow: column;
    position: fixed !important;
    align-items: center;
    height: 100%;
    .nav-btn {
      width: 50px;
      opacity: 0.4;
      visibility: visible !important;
      transition: opacity 0.07s;
      z-index: 1;
      &:hover {
        opacity: 1;
      }
    }
    .nav {
      visibility: hidden;
      position: relative;
      top: 72vh;
      transform: translate3d(0, 30px, 0);
      transition: transform 1s;
      &.show {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        top: -10%;
        background: #ffffffbd;
      }
      a.show {
        width: auto;
        margin: 4px;
        transition: visibility 0.1s;
        &:nth-child(2) {
          margin-top: 56px;
        }
        svg {
          opacity: 0.3;
          height: 30px;
          transition: opacity 0.07s;
          pointer-events: none;
        }
      }
      a.active {
        svg {
          fill: $third-color;
          opacity: 1;
        }
      }
    }
    .social {
      display: none !important;
    }
  }
  .cover {
    &-bg {
      height: 380px !important;
      width: 380px !important;
      opacity: 0.5 !important;
    }
  }
  // Galery
  .galery {
    .presentation-1 {
      grid-template-rows: 50% 1fr;
      grid-template-columns: none;
      grid-column-gap: 0;

      .image-double {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 0;
      }
    }
  }
}

@include mediaLg {
  .container {
    width: 100vw !important;
  }

  .galery {
    padding: 0 20px;
  }
}
