.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 16px; }
  .menu .nav-btn {
    visibility: hidden;
    position: fixed;
    margin: 7px 0 0 0; }
  .menu .nav {
    display: flex;
    align-items: center; }
    .menu .nav a {
      text-align: center;
      font-size: 1.6em;
      font-weight: bold;
      color: #6c6a68;
      width: 100px;
      transition: color 0.07s, font-size 0.07s; }
    .menu .nav a:hover, .menu .nav a.active {
      font-size: 1.9em;
      color: #c0a064; }
  .menu .social {
    height: 50px;
    display: flex;
    align-items: center; }
    .menu .social a {
      text-align: center;
      width: 60px; }
      .menu .social a svg {
        height: 16px;
        color: #6c6a68;
        transition: all 0.07s; }
      .menu .social a svg:hover {
        height: 35px;
        color: #c0a064; }

.cover {
  height: 100vh; }
  .cover-bg-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1; }
    .cover-bg-box .cover-bg {
      background: url(../img/cover-image.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      width: 700px;
      border-radius: 50%;
      border: 5px solid #6c6a68;
      opacity: 0.7;
      transition: all 0.5s ease-out; }
  .cover .main {
    display: flex;
    justify-content: flex-end;
    padding-top: 20%;
    transition: all 0.5s ease-out; }
    .cover .main-title {
      display: flex;
      flex-flow: column;
      margin-right: 22px; }
      .cover .main-title h1 {
        font-size: 3.65em;
        margin-left: 107px;
        color: #000;
        opacity: 0.8; }
      .cover .main-title .label {
        font-size: 4em;
        margin: 10px 0 0 0;
        text-transform: uppercase;
        display: flex; }
        .cover .main-title .label p:nth-child(1) {
          background: #c0a064;
          color: #f8f6f4; }
        .cover .main-title .label p:nth-child(2) {
          color: #c0a064;
          background: #f8f6f4; }

.galery {
  height: 100vh; }
  .galery h1 {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 75px;
    font-size: 36px; }
  .galery-presentation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap; }
    .galery-presentation img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .galery-presentation .image-cube-big {
      width: 770px;
      height: 100%; }
      .galery-presentation .image-cube-big img {
        height: 770px; }
    .galery-presentation .image-cube-litle {
      width: 370px;
      height: 370px;
      height: 100%;
      display: flex;
      flex-flow: column;
      margin-left: 30px; }
      .galery-presentation .image-cube-litle img {
        height: 370px;
        margin-bottom: 30px; }

#nav a.show:nth-child(1) {
  transition-delay: 0.1s; }

#nav a.show:nth-child(2) {
  transition-delay: 0.2s; }

#nav a.show:nth-child(3) {
  transition-delay: 0.3s; }

@media screen and (max-width: 320px) {
  .cover .main {
    padding-top: 18% !important; }
    .cover .main .main-title {
      margin-right: 19px !important; } }

@media screen and (max-width: 425px) {
  .cover-bg-box {
    align-items: initial !important;
    margin-top: 37%; }
    .cover-bg-box .cover-bg {
      height: 320px !important;
      width: 320px !important; }
  .cover .main {
    justify-content: center !important;
    align-items: center;
    padding-top: 17%; }
    .cover .main .main-title {
      margin-right: 0 !important; }
      .cover .main .main-title h1 {
        font-size: 2em !important;
        margin-left: 81px !important;
        opacity: 0.3 !important; }
      .cover .main .main-title .label {
        font-size: 2.5em !important; } }

@media screen and (max-width: 736px) {
  .menu {
    flex-flow: column;
    position: fixed !important;
    align-items: center; }
    .menu .nav-btn {
      width: 50px;
      opacity: 0.4;
      visibility: visible !important;
      transition: opacity 0.07s; }
      .menu .nav-btn:hover {
        opacity: 1; }
    .menu .nav {
      visibility: hidden;
      position: relative;
      top: 72vh;
      transform: translate3d(0, 30px, 0);
      transition: transform 1s; }
      .menu .nav.show {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        justify-content: space-around;
        width: 320px; }
      .menu .nav a.show {
        width: auto;
        margin: 4px;
        transition: visibility 0.1s; }
        .menu .nav a.show:nth-child(2) {
          margin-top: 56px; }
        .menu .nav a.show svg {
          opacity: 0.3;
          height: 30px;
          transition: opacity 0.07s;
          pointer-events: none; }
      .menu .nav a.active svg {
        fill: #c0a064;
        opacity: 1; }
    .menu .social {
      display: none !important; }
  .cover-bg {
    height: 380px !important;
    width: 380px !important;
    opacity: 0.5 !important; } }

@media screen and (max-width: 1170px) {
  .container {
    width: 100vw !important; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  background: #f8f6f4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1170px;
  margin: 0 auto; }
